.App{
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.App:first-child{
  border-style: solid;
  border-color: red;
  border-width: 5px;
}